.about-page {
  margin: 0;
  font-family: 'Limelight', cursive;
  color: white;
  background: black;
  background: url("https://images.freeimages.com/images/large-previews/7e8/cinema-seats-1568320.jpg");
  background-size: inherit;
  background-position: bottom;
  display: flex;
  flex-direction: column; }
  .about-page .about-header {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; }
    .about-page .about-header a {
      text-decoration: none;
      color: white; }
  .about-page .about-container {
    margin: auto;
    display: flex; }
    .about-page .about-container .about-us {
      margin: 30px;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      flex-direction: column;
      align-items: center; }
      .about-page .about-container .about-us img {
        max-height: 200px;
        max-width: 300px;
        border: 2px solid #C0C0C0; }
      .about-page .about-container .about-us p {
        margin: 0; }

@media (max-width: 750px) {
  .about-container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .about-container .about-us .about-container .about-us {
      margin: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      flex-direction: column;
      align-items: center; }
      .about-container .about-us .about-container .about-us img {
        max-height: 200px;
        max-width: 300px;
        border: 2px solid #C0C0C0; }
      .about-container .about-us .about-container .about-us p {
        width: 100%;
        margin: 0; } }
